h1 {
  color: yellow;
  font-family: sans-serif;
}
p {
  color: green
  font-style: italic;
}
li {
  color: orangered
}

<style>
<div> {
  background-image: url('space2.gif');
}

body {
  color: yellow;
}

h1 {
  color: #00ff00;
}

p.ex {
  color: rgb(0,0,255);
}
<div>
</style>
#container {
  display: grid;
  grid-template-rows 200px 200px;
}